body {
  background-color: grey;
}

nav {
  text-align: center;
  padding-bottom: 1em;
  a {
    padding: 5px 10px;
    text-decoration: none;
    margin-right: 10px;
    margin-top: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;

    &:visited, &:link {
      color: #607D8B;
    }
    &.active {
      color: #039be5;
    }
    &:hover {
      color: #039be5;
      background-color: #CFD8DC;

    }
  }
}

.ui-card-title {
  text-align: center;
}
